{% extends "base.html.twig" %}

{% block body %}

    <h2>Nouveau theme</h2>
{{ form(themeForm) }}

    <h2>Liste des themes</h2>

    <ul>
        {% for theme in themeList %}
            <li> {{ theme.name }}</li>
            {% endfor %}
    </ul>
{% endblock %}